body {
    background-image: url("./images/shire.jpg");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: 100%;
}

/* Survey Page */

.container {
    background-color: gainsboro;
}