/* Survey Page */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: gainsboro;
    margin-top: 30px;
    padding: 30px;
    border-radius: 30px;
}

#api {
    float: left;
}

#github {
    float: right;
}

a:link {
    color: black !important;
}

a:hover {
    color: red;
}